.btn-ranking {
  background-color: #f0f0f0;
  border: none;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 2.8rem;
  justify-content: center;
  margin: 1rem auto;
  padding: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: 32rem;
}

.btn-ranking:hover {
  opacity: 0.8;
}

.feedback-text {
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  text-align: center;
}

.feedback-score {
  display: flex;
  flex-flow: column;
  font-size: 2rem;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}
