.feedback {
  text-align: center;
  top: 40px;
  position: relative;
  background-color: forestgreen;
  color: white;
  width: fit-content;
  margin: 4% auto;
  padding: 2%;
  border-radius: 12px;
}

.btn-play-again {
  background-color: forestgreen;
  margin-top: 10px;
}

.btn-ranking {
  background-color: lightgray;
  margin-top: 150px; 
}

a {
  text-decoration: none;
}

button {
  display: block;
  font-size: 2em;
  margin: auto;
  min-width: 15em;
}
