.default-answer {
  border: 1px solid black;
  margin: 0 12px;
  padding: 4px 14px;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
  margin: 0 12px;
  padding: 4px 14px;
}

.wrong-answer {
  border: 3px solid red;
  margin: 0 12px;
  padding: 4px 14px;
}
