.btn-next {
  background-color: rgb(6, 240, 15);
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}

.container-question-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.question-card {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
}

.question-category {
  background-color: #ddd;
  font-size: 2.8rem;
  margin: 1rem;
  padding: 1rem;
}

.question-container {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 80%;
}

.question-text {
  font-size: 3.2rem;
  margin: 1rem;
  padding: 1rem;
}

.timer {
  align-self: flex-start;
  color: red;
  font-size: 2.8em;
  margin-left: 4rem;
}
