@import url('https://fonts.googleapis.com/css2? family = Architects + Daughter & display=swap');

.button-wrong {
  border: 3px solid rgb(6, 240, 15);
}

.button-correct {
  border: 3px solid red;
}

.Trivia-question {
  margin-top: 80px;
}