.button-wrong {
  background-color: #74b9ff;
  border: 3px solid rgb(6, 240, 15);
  border-radius: 8px;
  height: 50px;
  width: 100px;
}

.button-correct {
  background-color: #74b9ff;
  border: 3px solid red;
  border-radius: 8px;
  height: 50px;
  width: 100px;
}

.button-alternative {
  background-color: #74b9ff;
  height: 50px;
  width: 100px;
}

.Trivia-question {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
}

.div-question {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.div-question-and-timer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.div-alternative-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 80%;
}

.timer {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-next {
  background-color: #74b9ff;
  border-radius: 8px;
  height: 40px;
  width: 100px;
}

@import url('https://fonts.googleapis.com/css2? family = Architects + Daughter & display=swap') ;
