.answers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #607466;
  color: white;
  width: 300px;
}

.nextButton {
  width: 200px;
  height: 35px;
  background-color: #083D77;
  color: white;
  font-weight: 500;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 25%;
  font-size: large;
  justify-content: center;
}