.loading {
  align-items: center;
  background: linear-gradient(to top, rgb(20, 61, 195), rgb(140, 119, 235));
  color: white;
  display: flex;
  font-size: 20px;
  height: 100vh;
  justify-content: center;
  letter-spacing: 2px;
  overflow: hidden;
  width: 100vw;
}
