.login__container {
  align-items: center;
  background: linear-gradient(to top, rgb(195, 20, 50), rgb(196, 94, 68));
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login {
  align-items: center;
  backdrop-filter: blur(4.1px);
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  height: 30rem;
  justify-content: center;
  width: 26rem;
}

.login img {
  margin-bottom: 30px;
}

.login input {
  border: none;
  border-radius: 3px;
  height: 2.8em;
  outline: none;
  padding-left: 10px;
  width: 22rem;
}

label h5 {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 6px;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}
