.mainPage {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFE2D1;
  align-content: center;
}

.headerGame {
  width: 100%;
  display: flex;
  flex-direction: row;;
  background-color: #21897E;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}