.ranking__container {
  align-items: center;
  background: linear-gradient(to top, rgb(20, 61, 195), rgb(140, 119, 235));
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  overflow-y: hidden;
  width: 100vw;
}

.ranking {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  min-width: 480px;
  padding-top: 60px;
}

.ranking h2 {
  margin-top: 0.8em;
}

.ranking__container div {
  margin-top: 10px;
  overflow-x: hidden;
}

.ranking__container button {
  margin-top: 20px;
}

.ranking__container img {
  height: 40px;
}

.ranking__item {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ranking__item img {
  border-radius: 50%;
  padding-inline: 20px;
}

.ranking__container p {
  padding-inline: 80px;
}
