* {
  margin: 0;
  padding: 0;
}

.page {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

.login {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
  padding: 20px 30px;
  width: 25%;
}

.header {
  align-items: center;
  background-color: #036b52;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

.feedback-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.ranking-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  padding: 30px;
  width: 50vw;
}

.ranking-item {
  align-items: center;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}
