* {
  margin: 0;
  padding: 0;
}

.page {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

.login {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
  padding: 20px 30px;
  width: 25%;
}