.greenBorder {
  border: 3px solid rgb(6, 240, 15);
}

.redBorder {
  border: 3px solid red;
}

.game {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  justify-content: space-evenly;
}
